{% extends 'head.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
    <div class="history">
        <a href="{% url 'administrator:index' %}"> < </a>
    </div>

    <div class="modal add_department">
        <div class="modal-content">
            <h2>Ajouter un Département</h2>
            <form action="{% url 'administrator:createDepartment' establishment_id=establishment.id %}" method="post">
                {% csrf_token %}
                <div class="input">
                    <label for="name">Nom du département</label>
                    <input type="number" name="name" id="name">
                </div>
                <div class="input">
                    <label for="min_competence_required">Nombre minimal de compétence à valider</label>
                    <input type="number" name="min_competence_required" id="min_competence_required">
                </div>
                <div class="input">
                    <label for="min_competence_grade">Note minimale</label>
                    <input type="number" name="min_competence_grade" id="min_competence_grade">
                </div>
                <div class="input">
                    Liste des départements prédéfinis disponibles:
                    <ul>
                        <li>
                            <input type="checkbox" name="it_department" id="it_department">
                            <label for="it_department">Départment informatique</label>
                        </li>
                    </ul>
                </div>
                <button class="establishment-button hoverable">Ajouter</button>
            </form>
        </div>
    </div>

    <div class="content">
        <h2>Liste des départements de <strong>{{ establishment }}</strong></h2>
        <div class="departments">
            {% for department, semesters in administrator_view.items %}
            <div class="department styled-card hoverable">
                <form action="{% url 'administrator:department' establishment_id=establishment.id department_id=department.id %}"  class="auto establishment-form" method="post">
                    {% csrf_token %}
                    <h2>{{ department }}</h2>
                    <p>Nombre minimal de compétence à valider : {{ department.min_competence_required|default_if_none:"Non défini" }}</p>
                    <p>Note minimale d'une compétence : {{ department.min_competence_grade|default_if_none:"Non défini" }}</p>
                </form>
            </div>
            {% endfor %}
            <div id="add_department" class="department plus styled-card hoverable">+</div>
        </div>
    </div>
</div>

{% endblock %}