{% extends 'head.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
    <div class="modal add">
        <div class="modal-content">
            <h2>Ajouter un Département</h2>
            <form action="{% url 'administrator:createDepartment' establishment_id=establishment.id %}" method="post">
                {% csrf_token %}
                <div class="input">
                    <label for="name">Nom du département</label>
                    <input type="text" name="name" id="name" required>
                </div>
                <div class="input">
                    Liste des départements disponibles:
                    <ul>
                        <li>
                            <input type="checkbox" name="it_department" id="it_department">
                            <label for="it_department">Départment informatique</label>
                        </li>
                    </ul>
                </div>
                <button class="establishment-button">Ajouter</button>
            </form>
        </div>
    </div>

    <div class="content">
        <h2>Liste des départements de <strong>{{ establishment }}</strong></h2>
        <div class="departments">
            {% for department, semesters in administrator_view.items %}
            <div class="department styled-card">
                <form action="{% url 'administrator:department' establishment_id=establishment.id department_id=department.id %}"  class="auto establishment-form" method="post">
                    {% csrf_token %}
                    <h2>{{ department }}</h2>
                    {% if not semesters %}
                    <p>Aucun semestre</p>
                    {% else %}
                    {% for semester in semesters %}
                    <div class="semester styled-card">
                        <h2>{{ semester }}</h2>
                    </div>
                    {% endfor %}
                    {% endif %}
                </form>
            </div>
            {% endfor %}
            <div id="add_department" class="department styled-card">+</div>
        </div>
    </div>
</div>

{% endblock %}