{% extends 'head.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
    <h1>Bienvenue {{ user.last_name }} {{ user.first_name }} !</h1>
    <h2>Vous étudiez dans l'établissement : {{ establishment }}</h2>

    
    <div class="blocs">
        <a href="">
        <div class="bloc">
            <p>Ajouter un établissement</p>
        </div>
        </a>

        <a href="">
        <div class="bloc">
            <p>Ajouter un débartement</p>
        </div>
        </a>

        <a href="">
        <div class="bloc">
            <p>Gestion des professeurs</p>
        </div>
        </a>

        <a href="">
        <div class="bloc">
            <p>Gestion des notes</p>
        </div>
        </a>

        <a href="">
        <div class="bloc">
            <p>Gestion des liens utiles</p>
        </div>
        </a>

        <a href="">
        <div class="bloc">
            <p>Gestion des étudiants</p>
        </div>
        </a>

        <a href="">
        <div class="bloc">
            <p>Modifier l'architecture d'un BUT</p>
        </div>
        </a>
    </div>

    <aside>
        <section class="notes">
            <h3>Mes dernières notes</h3>
            <div class="note">
                <p>Nom note 1</p>
                <p>Note 1</p>
            </div>
            <div class="note">
                <p>Nom note 2</p>
                <p>Note 1</p>
            </div>
        </section>
        <section class="links">
            <h3>Liens utiles</h3>
            {% for link in usefulLinks %}
            <div class="link">
                <img src="{% static link.file_path %}" alt="moodle" />
                <a href="{{ link.link }}">{{ link.name }}</a>
            </div>
            {% endfor %}
        </section>
    </aside>

{% endblock %}