{% extends 'head.html' %}
{% load static %}
{% block content %}

<div class="wrapper leftside">
    <h1>Bienvenue {{ user.last_name }} {{ user.first_name }} !</h1>

    <select id="establishment" name="establishment" type="submit">
        {% for establishments in establishments.all %}
        <option value="{{ establishments }}">Semestre {{ semester.number }}</option>
        {% endfor %}
    </select>

    <div class="blocs">

        {%for establishments in establishments.all%}
        <h3>{{establishment}}</h3>
        {%endfor%}

        <div class="bloc">
            <form action="" method="post">
                <p>Ajouter un établissement</p>
            </form>
        </div>

        <div class="bloc">
            <form action="" method="post">
                <p>Ajouter un département</p>
            </form>
        </div>

        <div class="bloc">
            <form action="{% url 'admin:evaluation' %}" method="post">
                <p>Gestion des professeurs</p>
            </form>
        </div>

        <div class="bloc">
            <form action="" method="post">
                <p>Gestion des notes</p>
            </form>
        </div>

        <div class="bloc">
            <form action="" method="post">
                <p>Gestion des liens utiles</p>
            </form>
        </div>

        <div class="bloc">
            <form action="" method="post">
                <p>Gestion des étudiants</p>
            </form>
        </div>

        <div class="bloc">
            <form action="" method="post">
                <p>Modifier l'architecture d'un BUT</p>
            </form>
        </div>
    </div>
</div>

<aside>
    <section class="notes">
        <h3>Mes dernières notes</h3>
        <div class="note">
            <p>Nom note 1</p>
            <p>Note 1</p>
        </div>
        <div class="note">
            <p>Nom note 2</p>
            <p>Note 1</p>
        </div>
    </section>
    <section class="links">
        <h3>Liens utiles</h3>
        {% for link in usefulLinks %}
        <div class="link">
            <img src="{% static link.file_path %}" alt="moodle" />
            <a href="{{ link.link }}">{{ link.name }}</a>
        </div>
        {% endfor %}
    </section>
</aside>

{% endblock %}