{% extends 'head.html' %}
{% load static %}
{% block content %}
 
<div class="wrapper">
    <h1>Bonjour {{ user.last_name }} {{ user.first_name }} !</h1>

    <div class="modal add_establishment">
        <div class="modal-content">
            <h2>Ajouter un établissement</h2>
            <form action="{% url 'administrator:createEstablishment' %}" method="post">
                {% csrf_token %}
                <div class="input">
                    <label for="name">Nom de l'établissement</label>
                    <input type="text" name="name" id="name" required>
                </div>
                <div class="input">
                    Liste des départements disponibles:
                    <ul>
                        <li>
                            <input type="checkbox" name="it_department" id="it_department">
                            <label for="it_department">Départment informatique</label>
                        </li>
                    </ul>
                </div>
                <button class="establishment-button hoverable">Ajouter</button>
            </form>
        </div>
    </div>

    <div class="content">
        <h2>Liste des établissements</h2>
        <div class="establishments">
            {% for establishment, departments in administrator_view.items %}
            <div class="establishment styled-card hoverable">
                <form action="{% url 'administrator:establishment' establishment_id=establishment.id %}"  class="auto" method="post">
                    {% csrf_token %}
                    <h2>{{ establishment.name }}</h2>
                    {% if not departments %}
                    <p class="middle">Aucun départment</p>
                    {% else %}
                    <div class="departments">
                        {% for department in departments %}
                        <div class="department styled-card hoverable">
                            <h2>{{ department.name }}</h2>
                            <p>Nombre de professeurs : {{ department.getProfessors|length }}</p>
                            <p>Nombre d'étudiants : {{ department.getStudents|length }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </form>
            </div>
            {% endfor %}
            <div id="add_establishment" class="establishment plus styled-card hoverable">+</div>
        </div>
    </div>
</div>

{% endblock %}