{% extends 'head.html' %}
{% load static %}
{% block content %}

<div class="wrapper leftside">
    <h1>Ajout d'un lien</h1>

    <div class="container">
        <form>
            <h3>Formulaire d'ajout</h3>
            <input type="text" id="firstname" placeholder="Lien" required><p id="name-error"></p>
            <input type="text" id="lastname" placeholder="Titre lien" required><p id="surname-error"></p>
            <button onclick="subsubmit()" id="submit">Soumettre</button>
        </form>
    </div>
</div>

<aside>
    <section class="notes">
        <h3>Mes dernières notes</h3>
        <div class="note">
            <p>Nom note 1</p>
            <p>Note 1</p>
        </div>
        <div class="note">
            <p>Nom note 2</p>
            <p>Note 1</p>
        </div>
    </section>
    <section class="links">
        <h3>Liens utiles</h3>
        {% for link in usefulLinks %}
        <div class="link">
            <img src="{% static link.file_path %}" alt="moodle" />
            <a href="{{ link.link }}">{{ link.name }}</a>
        </div>
        {% endfor %}
    </section>
</aside>

<script src="{% static 'js/addlink.js' %}"></script>

{% endblock %}