{% extends 'head.html' %}
{% load static %}
{% block content %}

<div class="wrapper leftside">
    <h1>Liste des établissements</h1>

    <div class="checkbox">
        <ul>
            {% for establishment in establishments.all %}
            <li>{{ establishment.name }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="bloc">
        <form class="auto" action="{% url 'administrator:addestablishment' %}" method="post">
            {% csrf_token %}
            <p>Ajouter un établissement</p>
        </form>
    </div>

</div>

{% endblock %}