.content > .establishments,
.content > .departments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
}

.establishments > .establishment,
.establishment > form > .department,
.departments > .department {
    width: auto;
    height: max-content;
}

form > .departments {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.department > p {
    margin-bottom: 0;
}

.establishment-button {
    position: relative;
    z-index: 999;
    height: 3em;
    background: var(--element-color);
    color: var(--primary-color);
    font: inherit;
    font-size: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.plus {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: var(--element-color);
}