.content > .establishments,
.content > .departments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    margin: 25px;
}

.establishments > .establishment,
.establishment > form > .department,
.departments > .department {
    position: relative;
    z-index: 1;
    padding: 25px;
    width: auto;
    height: max-content;
    cursor: pointer;
    transition: transform .5s ease;
}

form > .departments {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.establishments > .establishment:hover,
.departments > .department:hover {
    z-index: 2;
    transform: scale(1.01);
    transition: transform .5s ease;
}

.establishments > #add_establishment,
.departments > #add_department,
.competences > #add_competence {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: #e5e5e5;
}

.department > p {
    margin-bottom: 0;
}

.establishment-button {
    position: relative;
    z-index: 999;
    height: 3em;
    background: var(--element-color);
    color: var(--primary-color);
    font: inherit;
    font-size: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform .5s ease;
}

.establishment-button:is(:hover, :focus),
.department-button:is(:hover, :focus) {
    transform: scale(1.05);
    transition: transform .5s ease;
    outline: none;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 2% 0;
    width: 30%;
}

.input > input {
    border: none;
    border-bottom: 1px solid;
    font: inherit;
}

.input > input:focus {
    outline: none;
}

.competences {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 0 25px;
    overflow-x: auto;
    z-index: 1;
}

.competences::-webkit-scrollbar {
    display: none;
}

.competence {
    z-index: 2;
    min-width: 20%;
    min-height: max-content;
    margin: 60px 0;
    padding: 25px;
}