.content > .establishments,
.content > .departments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    margin: 25px;
}

/* .establishments > .establishment,
.establishment > form > .department,
.departments > .department {
    width: auto;
} */

form > .departments {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.department > p {
    margin-bottom: 0;
}

.modal-button,
.delete-button,
.establishment-button {
    position: relative;
    z-index: 999;
    height: 3em;
    background: var(--element-color);
    color: var(--primary-color);
    font: inherit;
    font-size: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.carousel {
    padding: 25px;
}

.input {
    width: 80%;
}

.delete-button {
    background: #ff0000;
    color: #000000;
}

.datas {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.button-container {
    display: flex;
    justify-content: center;
}