.semester {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 25px;
}

.resource, .ue,
.evaluations {
    width: 27%;
    height: max-content;
}

.evaluations {
    width: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 30px;
    margin-top: 25px;
}

.evaluation {
    margin-top: -25px;
    min-width: 18%;
    padding: 0;
}

.carousel {
    width: 100%;
    padding: 25px 0;
}