.semester {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    margin: 25px;
}

.resource, .ue,
.evaluations {
    padding: 25px;
    height: max-content;
    cursor: pointer;
    width: auto;
}

.resource, .ue {
    transition: transform .5s ease;
}

.resource:hover,
.ue:hover {
    transform: scale(1.05);
    transition: transform .5s ease;
}

.evaluations {
    width: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 30px;
    margin-top: 25px;
}

.title {
    width: 100%;
    font-weight: bold;
}

.evaluation {
    margin-top: 1vh;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

h2 {
    margin-top: 0;
}