@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
    --primary-color: #e8e8e8;
    --element-color: #1D4851;
}

/* GLOBAL STYLING */

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
    position: absolute;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--element-color);
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Sora;
    overflow-y: overlay;
    box-sizing: border-box;
}

main {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    padding: 80px 0;
    user-select: none;
}

h1 {
    text-align: center;
    font-size: 33px;
    margin-top: 0;
    font-weight: 600;
}

h2 {
    position: relative;
    z-index: 99;
    margin-top: 0;
    font-weight: 400;
}

a {
    color: inherit;
    text-underline-offset: 4px;
    transition: color .3s ease;
}

a:hover {
    color: #008bf8;
    transition: color .3s ease;
}

strong {
    font-weight: 700;
}

.middle {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}




/* HEADER PART */

header {
    width: 100%;
    background: var(--element-color);
    color: #ffffff;
    font-size: 18px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav > form {
    cursor: pointer;
    padding: 15px 17px;
}

.effect-underline {
    position: relative;
}

.effect-underline:after {
    content: '';
    position: absolute;
    left: 0;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 8px;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(0, 1);
}

form:hover .effect-underline:after {
    opacity: 1;
    transform: scale(1);
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 999;
    background-color: rgba(0,0,0,0.7);
    animation: fadeIn .5s ease;
}

.modal-content {
    position: relative;
    background: var(--primary-color);
    width: 60%;
    height: 60%;
    margin: auto;
    margin-top: 5%;
    padding: 45px;
    border-radius: 30px;
    overflow-y: scroll;
}





/* PAGE CONTENT PART */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.left-side {
    width: 80%;
}

.wrapper select {
    position: relative;
    z-index: 2;
    padding: 7px 12px;
    border: 1px solid #E8EAED;
    background: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    font-size: 20px;
    font-family: inherit;
}

.wrapper select:focus {
    outline: none;
}

.carousel-container {
    margin: 0 25px 50px 25px;
    overflow: hidden;
}

.carousel {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 25px;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    height: 10px;
}

.carousel-item {
    min-width: 20%;
    min-height: max-content;
    padding: 25px;
}

.styled-card {
    position: relative;
    z-index: 1;
    padding: 25px;
    border-radius: 30px;
    border: 2px solid #c3c6ce;
    background: #f5f5f5;
}

.hoverable {
    transition: transform .5s, border-color .5s, box-shadow .5s ease;
}

.hoverable:hover,
.hoverable:focus {
    cursor: pointer;
    z-index: 2;
    transform: scale(1.02);
    outline: none;
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    transition: transform .5s, border-color .5s, box-shadow .5s ease;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title > h2 {
    width: 40%;
}

.title > p {
    width: 60%;
}

.content {
    width: 100%;
}

.content form {
    margin: -25px;
    padding: 25px;
}

.content > h2 {
    margin-left: 25px;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 6% 0;
    width: 30%;
}

.input > input {
    border: none;
    border-bottom: 1px solid;
    font: inherit;
    background: transparent;
}

.input > input:focus:not([type=checkbox]) {
    outline: none;
}




/* LOGIN PAGE */

.login-card,
.reset_password-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    padding: 4%;
    font-size: 20px;
    border-radius: 30px;
}

.login-card > form,
.reset_password-card > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-card > form > *,
.reset_password-card > form > * {
    width: 100%;
}

.login-card .errors {
    margin-top: 6%;
    font-size: 13px;
    color: red;
    width: 300px;
}

.forgotpassword {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    font-size: 12px;
}

.rememberme {
    flex-direction: row;
    align-items: center;
    width: max-content;
}

.rememberme > a {
    text-decoration: underline;
}

.login-button,
.reset_password-button {
    background: var(--element-color);
    color: var(--primary-color);
    font: inherit;
    height: 3em;
    border: none;
    border-radius: 30px;
    margin-top: 10%;
    cursor: pointer;
}

/* PROFILE PAGE */

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    width: 25%;
    padding: 3%;
    font-size: 20px;
}

.info-card > * {
    width: 100%;
}

.info-card .info {
    display: flex;
    flex-direction: column;
    margin: 3% 0;
    gap: 5px;
}

.info-card p {
    margin: unset;
}

.info-card .data {
    border: 1px solid black;
    padding: 2%;
}





/* ASIDE PART */

aside {
    position: relative;
    width: 20%;
    font-size: 20px;
}

aside h3 {
    margin-bottom: 2%;
    margin-top: 0;
}

.aside-container {
    position: sticky;
    margin-right: 15%;
    margin-bottom: 80px;
    top: 80px;
    border-radius: 30px;
}

.notes,
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.note p {
    margin-top: 0;
}

.link {
    display: flex;
    align-items: center;
}

.link > img {
    width: 32px;
    height: 32px;
    margin-right: 4%;
    mix-blend-mode: darken;
}





/* FOOTER PART */

footer {
    padding: 30px;
    background: var(--element-color);
    display: flex;
    color: #ffffff;
    justify-content: space-around;

}

footer h4 {
    font-size: 25px;
    text-transform: capitalize;
    text-decoration: underline;
}