@font-face {
    font-family: Sora;
    src: url(../fonts/Sora-Regular.ttf);
}

/* GLOBAL STYLING */

/* HIDE SCROLLBAR */
*::-webkit-scrollbar {
    width: 0px;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Sora;
    overflow-y: auto;
    box-sizing: border-box;
}

main {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 8vh 0;
}

h1 {
    text-align: center;
    font-size: 33px;
    margin-top: 0;
}





/* HEADER PART */

header {
    width: 100%;
    background: dodgerblue;
    color: white;
    font-size: 18px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav > form {
    cursor: pointer;
    padding: 15px 17px;
}

.effect-underline {
    position: relative;
}

.effect-underline:after {
    content: '';
    position: absolute;
    left: 0;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 8px;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(0, 1);
}

form:hover .effect-underline:after {
    opacity: 1;
    transform: scale(1);
}





/* LOGIN PAGE */

.login-card,
.reset_password-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
    user-select: none;
    width: 35vh;
    padding: 8vh;
    font-size: 20px;
    border-radius: 30px;
    background: white;
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px white;
}

.login-card > form,
.reset_password-card > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-card > form > *,
.reset_password-card > form > * {
    width: 100%;
}

.login-card .input,
.reset_password-card .input {
    display: flex;
    flex-direction: column;
    margin: 2vh 0;
}

.login-card input,
.reset_password-card input {
    border: none;
    border-bottom: 1px solid;
    font: inherit;
}

.login-card input:focus:not([type=checkbox]),
.reset_password-card input:focus {
    outline: none;
}

.login-card .errors {
    color: red;
    
}

.login-card .forgotpassword {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.login-card .rememberme {
    flex-direction: row;
    align-items: center;
}

.login-card .login-button,
.reset_password-card .reset_password-button {
    background: dodgerblue;
    color: white;
    font: inherit;
    height: 6vh;
    border: none;
    border-radius: 30px;
    margin-top: 4vh;
    cursor: pointer;
    transition: transform .5s ease;
}

.login-card .login-button:hover,
.login-card .login-button:focus,
.reset_password-card .reset_password-button:hover,
.reset_password-card .reset_password-button:focus {
    transform: scale(1.05);
    transition: transform .5s ease;
    outline: none;
}





/* PROFILE PAGE */

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
    width: 50vh;
    padding: 8vh;
    font-size: 20px;
    border-radius: 30px;
    background: white;
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px white;
}

.info-card > * {
    width: 100%;
}

.info-card .info {
    display: flex;
    flex-direction: column;
    margin: 2vh 0;
}

.info-card p {
    margin: unset;
}

.info-card .data {
    border: 1px solid black;
    padding: 1vh;
    margin-top: 1vh;
}





/* PAGE CONTENT PART */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.left-side {
    width: 81%;
}

#semester {
    padding: 7px 12px;
    border: 1px solid #E8EAED;
    border-radius: 5px;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    font-size: 20px;
    font-family: inherit;
}

#semester:focus {
    border-color: dodgerblue;
}

aside {
    width: 15%;
    padding: 2%;
    position: block;
    right: 0;
}

.ues,
.groupes,
.notes,
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.semester {
    display: flex;
    flex-wrap: wrap;
    display: none;
    justify-content: center;
}

.semester > form {
    margin: 5vh;
}

.ue {
    padding: 20px;
    width: 35vh;
    height: max-content;
    cursor: pointer;
    border-radius: 30px;
    background: white;
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px white;
    transition: transform .5s ease;
}

.ue:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
}





/* ASIDE PART */

.notes, 
.links {
    flex-direction: column;
}

.link {
    display: flex;
    align-items: center;
}

.link > a {
    text-decoration: none;
    color: black;
    transition: color .3s ease;
}

.link > a:hover {
    color: dodgerblue;
    transition: color .3s ease;
}

.link > img {
    width: 32px;
    height: 32px;
    mix-blend-mode: color-burn;
}




/* FOOTER PART */

footer {
    padding: 30px;
    background-color: #24262b;
}

footer h4 {
    font-size: 25px;
    color: #ffffff;
    text-transform: capitalize;
    text-decoration: underline;
}

footer p {
    color: white;
}

.row {
    display: flex;
    justify-content: space-around;
    background-color: #34373d;
}

.middle {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}