{% extends 'head.html' %}
{% block content%}

<div class="wrapper">
    <div class="reset_password-card styled-card">
        <h1>Changer de mot de passe</h1>
        <form class="login-form" action="." method="post">
            {% csrf_token %}
            <div class="input">
                <label for="id_email">Email</label>
                {{ form.email }}
            </div>
            <button class="reset_password-button hoverable" type="submit">Demander</button>
        </form>
    </div>
</div>

{% endblock %}