{% extends 'head.html' %}
{% block content%}

<div class="wrapper">
    <div class="reset_password-card styled-card">
        <h1>Changer de mot de passe</h1>
        {% if validlink %}
        <p>Veuillez entrer votre nouveau mot de passe deux fois :</p>
        <form action="." method="post">
            {%csrf_token%}
            <div class="input">
                <label for="id_new_password1">Nouveau mot de passe</label>
                {{ form.new_password1 }}
            </div>
            {{ form.help_text }}
            <div class="input">
                <label for="id_new_password2">Confirmation</label>
                {{ form.new_password2 }}
            </div>
            <button class="reset_password-button" type="submit">Changer de mot de passe</button>
        </form>
        {% else %}
        <p>Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé.</p>
        {% endif %}
    </div>
</div>

{% endblock %}