{% extends 'head.html' %}
{% block content%}

<div class="wrapper">
    <div class="info-card styled-card">
        <h1>Profil utilisateur</h1>
        <div class="info">
            <p>Nom d'utilisateur</p>
            <p class="data">{{ user.username }}</p>
        </div>
        <div class="info">
            <p>Nom</p>
            <p class="data">{{ user.last_name }}</p>
        </div>
        <div class="info">
            <p>Prénom</p>
            <p class="data">{{ user.first_name }}</p>
        </div>
        <div class="info">
            <p>Email</p>
            <p class="data">{{ user.email }}</p>
        </div>
    </div>
</div>

{% endblock %}