{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de BUT</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" media="all" />
</head>

<body>
    <header>
        <nav>
            <div class="homepage" onclick="window.location.href = '/'">
                Gestion de BUT
            </div>
            <div class="profile">
                {% if user.is_authenticated %}
                <img src="{% static 'img/jack.jpg' %}" alt="profile picture" />
                <span>{{ user.last_name|upper }} {{ user.first_name|upper }}</span>
                <form class="logout" action="{% url 'accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="hidden-button" type="submit">Se déconnecter</button>
                </form>
                {% else %}
                <form class="login" action="{% url 'accounts:login' %}" method="post">
                    <button class="hidden-button" type="submit">Se connecter</button>
                </form>
                {% endif %}
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="colmn">
                        <h4>----------------------</h4>
                        <p>--------------------</p>
                        <p>--------------------</p>
                        <p>--------------------</p>
                    </div>
                    <div class="colmn">
                        <h4>Contact</h4>
                        <p>lilian.ouraha@etu.univ-lyon1.fr</p>
                        <p>corto.bouviole@etu.univ-lyon1.fr</p>
                        <p>noa.cavalcante@etu.univ-lyon1.fr</p>
                    </div>
                    <div class="colmn">
                        <h4>--------------------</h4>
                        <p>--------------------</p>
                        <p>--------------------</p>
                        <p>--------------------</p>
                    </div>
                </div>
            </div>
        </footer>
    </footer>
</body>

</html>