{% extends 'head.html' %}
{% load static %}
{% block content %}

<div class="wrapper left-side">
    <h1>Bonjour {{ user.last_name }} {{ user.first_name }} !</h1>
    <h2>Vous étudiez dans l'établissement : {{ establishment }}</h2>

    <div class="selections">
        <select id="semesterSelection" name="semestre">
            {% for semester in student_view.keys %}
            <option value="{{ semester.id }}">{{ semester }}</option>
            {% endfor %}
        </select>
        <select id="viewSelection" name="view">
            <option value="resource">Ressource</option>
            <option value="ue">UE</option>
        </select>
    </div>

    <div class="content">
        {% for semester, resources_ues in student_view.items %}
        <div class="semester {{ semester.id }}">
            {% for resource, evaluations in resources_ues.0.items %}
            <div class="resource styled-card hoverable">
                <form class="auto" action="{% url 'student:resource' semester_id=semester.id resource_id=resource.id %}" method="post">
                    {% csrf_token %}
                    <h2>{{ resource.name }}</h2>
                    <p><strong>Note ressource</strong><br>{{ evaluations.1|default_if_none:"Non noté" }}</p>
                    <p><strong>Classement ressource</strong><br>{{ evaluations.2|default_if_none:"Non classé" }}</p>
                    <div class="styled-card evaluations">
                        <div class="title">Notes</div>
                        {% if not evaluations.0 %}
                        <div class="evaluation">Aucunes notes</div>
                        {% else %}
                        {% for evaluation, note in evaluations.0.items %}
                        <div class="evaluation">
                            {{ evaluation.name }}
                            <br>
                            <em>{{ note|default_if_none:"Non noté" }}</em>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </form>
            </div>
            {% endfor %}
            {% for ue, resources in resources_ues.1.items %}
            <div class="ue styled-card hoverable">
                <form class="auto" action="{% url 'student:ue' semester_id=semester.id ue_id=ue.id %}" method="post">
                    {% csrf_token %}
                    <h2>UE{{ semester.number }}.{{ ue.number }}</h2>
                    <p><strong>Note UE</strong><br>{{ resources.1|default_if_none:"Non noté" }}</p>
                    <p><strong>Classement UE</strong><br>{{ resources.2|default_if_none:"Non classé" }}</p>
                    {% for resource, evaluations in resources.0.items %}
                    {% if evaluations %}
                    <div class="styled-card evaluations">
                        <div class="title">{{ resource.name }}</div>
                        {% for evaluation, note in evaluations.items %}
                        <div class="evaluation">
                            {{ evaluation.name }}
                            <br>
                            <em>{{ note|default_if_none:"Non noté" }}</em>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </form>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

<aside>
    <div class="aside-container styled-card">
        <div class="notes">
            <h3>Mes dernières notes</h3>
            {% for grade in lastGrades %}
            <div class="note">
                <p>{{ grade }}<br><em>{{ grade.note }}</em></p>
            </div>
            {% endfor %}
        </div>
        <div class="links">
            <h3>Liens utiles</h3>
            {% if not usefulLinks %}
            Aucun liens utiles.
            {% else %}
            {% for link in usefulLinks %}
            <div class="link">
                <img src="{% static link.file_path %}" alt="moodle" />
                <a href="{{ link.link }}" target="_blank">{{ link.name }}</a>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</aside>

{% endblock %}