{% extends 'head.html' %}
{% load static %}
{% block content %}

<div class="wrapper leftside">
    <h1>Bienvenue {{ user.last_name }} {{ user.first_name }} !</h1>
    <h2>Vous étudiez dans l'établissement : {{ establishment }}</h2>

    <select id="semester" name="semestre" type="submit">
        {% for semester in semesters %}
        <option value="{{ semester }}">Semestre {{ semester.number }}</option>
        {% endfor %}
    </select>

    <section class="ues">
        {% for semester in semesters %}
        <div class="semester {{ semester }}">
            {% for ue in semester.ues.all %}
            <form class="auto" action="{% url 'student:evaluation' semester_id=semester.id ue_id=ue.id %}" method="post">
                {% csrf_token %}
                <div class="ue">
                    <p>{{ semester }} UE{{ ue.number }}</p>
                    <p><strong>{{ ue.description }}</strong></p>
                    <p>Note UE</p>
                    <p>Classement</p>
                </div>
            </form>
            {% endfor %}
        </div>
        {% endfor %}
    </section>
</div>

<aside>
    <section class="notes">
        <h3>Mes dernières notes</h3>
        <div class="note">
            <p>Nom note 1</p>
            <p>Note 1</p>
        </div>
        <div class="note">
            <p>Nom note 2</p>
            <p>Note 1</p>
        </div>
    </section>
    <section class="links">
        <h3>Liens utiles</h3>
        {% for link in usefulLinks %}
        <div class="link">
            <img src="{% static link.file_path %}" alt="moodle" />
            <a href="{{ link.link }}">{{ link.name }}</a>
        </div>
        {% endfor %}
    </section>
</aside>

<script src="{% static 'js/student.js' %}"></script>

{% endblock %}