{% extends 'head.html' %}
{% load static %}
{% block content %}

<h1 class="border">Ajout d'une note à Lilian Ouraha</h1>

<div class="main">
    <form>
        <form method="post">
            <select name="semestre" type="submit">
                <!-- {% for UE in UEs %}
                <option value="{{ ue }}">UE {{ forloop.counter }}</option>
                {% endfor %}-->
                <option value="">UE1</option>
                <option value="">UE2</option>
                <option value="">UE3</option>
                <option value="">UE4</option>
                <option value="">UE5</option>
                <option value="">UE6</option>
            </select>
            <select name="Evaluation" type="submit">
                <option value="">Evaluation1</option>
                <option value="">Evaluation2</option>
                <option value="">Evaluation3</option>
                <option value="">Evaluation4</option>
                <option value="">Evaluation5</option>
                <option value="">Evaluation6</option>
            </select>
            <label for="note">Note</label>
            <input type="number" min="2" max="100" step="0.01"></input>
        </form>
    </form>
</div>
{% endblock %}