{% extends 'head.html' %}
{% load static %}
{% block content %}

<h1 class="border">Groupe Informatique  1AG1 de l'IUT Claude Bernard Lyon 1</h1>


<div class="main">
    <section class="establishment_groupes">
        <div class="establishment_sous_groupe1">
            <p class="infogrp">Info 1AG1.1</p>
            <div class="etu">
                <div class="noa">
                    <p>Noa cavalcante</p>
                    <div class="actionetu">
                        <button>Supprimer une note</button><br>
                        <button>Modifier une note</button><br>
                    </div>
                </div>
                <div class="noa">
                        <p>Lilian Ouraha</p>
                    <div class="actionetu">
                        <button>Supprimer une note</button><br>
                        <button>Modifier une note</button><br>
                    </div>
                </div>
                <div class="noa">
                        <p>Corto Bouviolle</p>
                    <div class="actionetu">
                        <button>Supprimer une note</button><br>
                        <button>Modifier une note</button><br>
                    </div>
                </div>
                <div class="noa">
                    <p>Noa cavalcante</p>
                    <div class="actionetu">
                        <button>Supprimer une note</button><br>
                        <button>Modifier une note</button><br>
                    </div>
                </div> 
                <div class="noa">
                        <p>Lilian Ouraha</p>
                    <div class="actionetu">
                        <button>Supprimer une note</button><br>
                        <button>Modifier une note</button><br>
                    </div>
                </div>
                <div class="noa">
                        <p>Corto Bouviolle</p>
                    <div class="actionetu">
                        <button>Supprimer une note</button><br>
                        <button>Modifier une note</button><br>
                    </div>
                </div>
                <div class="noa">
                    <p>Noa cavalcante</p>
                    <div class="actionetu">
                        <button>Supprimer une note</button><br>
                        <button>Modifier une note</button><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="establishment_sous_groupe2">
            <p class="infogrp">Info 1AG1.1</p>
            <div class="etu">
                <div class="noa">
                    <p>Noa cavalcante</p>
                    <div class="actionetu">
                        <button>Supprimer une note</button><br>
                        <button>Modifier une note</button><br>
                    </div>
                </div>
                <div class="noa">
                        <p>Lilian Ouraha</p>
                    <div class="actionetu">
                        <button>Supprimer une note</button><br>
                        <button>Modifier une note</button><br>
                    </div>
                </div>
                <div class="noa">
                        <p>Corto Bouviolle</p>
                    <div class="actionetu">
                        <button>Supprimer une note</button><br>
                        <button>Modifier une note</button><br>
                    </div>
                </div>
                <div class="noa">
                    <p>Noa cavalcante</p>
                    <div class="actionetu">
                        <button>Supprimer une note</button><br>
                        <button>Modifier une note</button><br>
                    </div>
                </div> 
                <div class="noa">
                        <p>Lilian Ouraha</p>
                    <div class="actionetu">
                        <button>Supprimer une note</button><br>
                        <button>Modifier une note</button><br>
                    </div>
                </div>
                <div class="noa">
                        <p>Corto Bouviolle</p>
                    <div class="actionetu">
                        <button>Supprimer une note</button><br>
                        <button>Modifier une note</button><br>
                    </div>
                </div>
                <div class="noa">
                    <p>Noa cavalcante</p>
                    <div class="actionetu">
                        <button>Supprimer une note</button><br>
                        <button>Modifier une note</button><br>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}