{% extends 'head.html' %}
{% load static %}
{% block content %}

<h1>Bienvenue {{ user.last_name }} {{ user.first_name }} !</h1>
<h2>Vous enseignez dans l'établissement : {{ establishment }}</h2>

<div class="content">
    

    <aside>
        <section class="links">
            <h3>Liens utiles</h3>
            {% for link in usefulLinks %}
            <div class="link">
                <img src="{% static link.file_path %}" alt="moodle" />
                <a href="{{ link.link }}">{{ link.name }}</a>
            </div>
            {% endfor %}
        </section>
    </aside>
</div>

{% endblock %}