{% extends 'head.html' %}
{% load static %}
{% block content %}

<div class="wrapper left-side">
    <h1>{{ department.establishment }}<br>{{ department }}</h1>

    <select id="selection" name="semestre">
        {% for semester in professor_view.keys %}
        <option value="{{ semester.id }}">Semestre {{ semester.number }}</option>
        {% endfor %}
    </select>

    {% for semester, resources in professor_view.items %}
    {% for resource in resources.keys %}
    <div class="modal {{ resource.id }}">
        <div class="modal-content">
            <h2>Ajouter une note</h2>
            {{ resource }}
            <form action="{% url 'professor:createNote' department_id=department.id resource_id=resource.id %}" method="post">
                {% csrf_token %}
                <div class="input">
                    <label for="name">Nom de l'évaluation</label>
                    <input type="text" name="name" id="name" required>
                </div>
                <div class="input">
                    <select class="group" name="group">
                        <option value="none" selected>Veuillez choisir un groupe</option>
                        {% for group in department.getGroups %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% for group in department.getGroups %}
                <div class="students {{ group.id }}">
                    {% for student in group.students.all %}
                    <div>{{ student.id.last_name }} {{ student.id.first_name }}</div>
                    <input type="number" name="note {{ group.id }} {{ student.id.id }}" step="any">
                    {% endfor %}
                </div>
                {% endfor %}
                <button class="modal-button">Ajouter</button>
            </form>
        </div>
    </div>
    {% endfor %}
    {% endfor %}

    <div class="content">
        <h2>Liste des ressources </h2>
        {% for semester, resources in professor_view.items %}
        <div class="semester {{ semester.id }}">
            {% for resource, evaluations in resources.items %}
            <div class="styled-card resource">
                <h2>{{ resource }}</h2>
                <button class="resource-button {{ resource.id }}">Ajouter une évaluation</button>
                {% if evaluations %}
                <div class="styled-card evaluations">
                    <strong>Notes</strong>
                    {% for evaluation in evaluations %}
                    <div class="evaluation">{{ evaluation }} - {{ evaluation.professor }}</div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

<aside>
    <div class="aside-container">
        <div class="links">
            <h3>Liens utiles</h3>
            {% if not usefulLinks %}
            Aucun liens utiles.
            {% else %}
            {% for link in usefulLinks %}
            <div class="link">
                <img src="{% static link.file_path %}" alt="moodle" />
                <a href="{{ link.link }}" target="_blank">{{ link.name }}</a>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</aside>

{% endblock %}