{% extends 'head.html' %}
{% load static %}
{% block content %}

<div class="wrapper left-side">
    <div class="history">
        <a href="{% url 'professor:index'  %}"> < </a>
    </div>

    <h1>{{ department.establishment }}<br>{{ department }}</h1>

    <select id="semesterSelection" name="semestre">
        {% for semester in professor_view.keys %}
        <option value="{{ semester.id }}">Semestre {{ semester.number }}</option>
        {% endfor %}
    </select>

    <div class="content">
        <h2>Liste des ressources</h2>

        <div class="semester-grid">
            <div>Ressource</div>
            <div>Nom</div>
            <div>Evaluations</div>
            {% for semester, resources in professor_view.items %}
            {% for resource, evaluations in resources.items %}
            <div>{{ resource }}</div>
            <div style="white-space: nowrap;">{{ resource.name }}</div>
            <div class="notes carousel">
                {% for evaluation in evaluations %}
                <div>{{ evaluation }}</div>
                {% endfor %}
            </div>
            {% endfor %}
            {% endfor %}
        </div>

        {% for semester, resources in professor_view.items %}
        <div class="semester {{ semester.id }}">
            {% for resource, evaluations in resources.items %}
            <div class="resource styled-card hoverable">
                <form action="{% url 'professor:resource' department_id=department.id resource_id=resource.id %}" class="auto" method="post">
                    {% csrf_token %}
                    <h2><strong>{{ resource }}</strong></h2>
                    <p>{{ resource.name }}</p>
                    <div class="styled-card evaluations">
                        <div class="title">Notes</div>
                        {% if not evaluations %}
                        Aucune note.
                        {% else %}
                        {% for evaluation in evaluations %}
                        <div>{{ evaluation }} - {{ evaluation.professor }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

<aside>
    <div class="aside-container styled-card">
        <div class="links">
            <h3>Liens utiles</h3>
            {% if not usefulLinks %}
            Aucun lien utile.
            {% else %}
            {% for link in usefulLinks %}
            <div class="link">
                <img src="{% static link.file_path %}" alt="moodle" />
                <a href="{{ link.link }}" target="_blank">{{ link.name }}</a>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</aside>

{% endblock %}