{% extends 'head.html' %}
{% load static %}
{% block content %}

<h1>Bienvenue {{ user.last_name }} {{ user.first_name }} !</h1>

<form method="post" class="form_establishment">
    <div class="select">
        <select id="establishment" name="establishment" type="submit">
            <option value="">Quel établissement souhaitez-vous voir ?</option>
            {% for establishment in establishments %}
            <option value="{{ establishment }}">{{ establishment.name }}</option>
            {% endfor %}
        </select>

        <select id="department" name="department" type="submit">
            <option value="">Quel département souhaitez-vous voir ?</option>
            {% for etablishment, departments in eta_dpt_grps.items %}
            {% for department, promos in departments.items %}
            <option value="{{ department.name}}">Département {{ department.name }}</option>
            {% endfor %}
            {% endfor %}
        </select>
    </div>

</form>

<div class="content">
    <section class="groupes">
        {% for etablishment, departments in eta_dpt_grps.items %}
        <!--<div class="establishment">
                <p>{{ etablishment.name }}</p> -->
        {% for department, promos in departments.items %}
        <div class="departement">
            <p>Département {{ department.name }}</p>
            {% for promo, groups in promos.items %}
            <p class="promotion">{{ promo.name }}</p>
            {% for group in groups %}
            <div class="group">
                <p class="dpt">{{ group.name }}</p>
                <button class="dpt">Ajouter une évaluation</button>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        {% endfor %}
</div>
{% endfor %}
</section>
</div>

<script src="{% static 'js/professor.js' %}"></script>
{% endblock %}