{% extends 'head.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
    <h1>Bonjour {{ user.first_name }} {{ user.last_name }} !</h1>

    <select id="selection" name="establishment">
        {% for establishment in professor_view.keys %}
        <option value="{{ establishment.id }}">{{ establishment }}</option>
        {% endfor %}
    </select>

    <div class="content">
        {% for establishment, departments in professor_view.items %}
        <div class="establishment {{ establishment.id }}">
            {% for department, semesters in departments.items %}
            <div class="styled-card department">
                <form action="{% url 'professor:department' department_id=department.id %}" class="auto department-form" method="post">
                    {% csrf_token %}
                    <h2 class="middle">{{ department }}</h2>
                    {% if not semesters %}
                    <p class="middle">Aucun semestre</p>
                    {% else %}
                    <div class="semesters">
                        {% for semester, resources in semesters.items %}
                        {% if resources %}
                        <div class="styled-card semester">
                            <h2>Semestre {{ semester.number }}</h2>
                            <div class="resources">
                                {% for resource in resources %}
                                <div class="resource">
                                    <p>{{ resource }}</p>
                                    <button class="resource-button {{ resource.id }}">Ajouter une note</button>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </form>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}